
.projectbox {
    width:200px;
    height: 200px;
    border-radius: 5px;
    border: 1px solid var(--main-background);
    background-color: var(--main-color);
    text-align: center;
}

.projectbox a {
    text-decoration: none;
    color:white;
    font-size: 30px;
    transition: transform .2s;
}

.projectbox a:hover{
    color: aquamarine;
    transform:scale(1.05);
}

#toc_container {
    background: var(--main-color) none repeat scroll 0 0;
    border: 3px solid #3D3D3D;
    border-radius: 5px;
    display: table;
    font-size: 95%;
    margin-bottom: 1em;
    padding: 20px;
    width: auto;
    margin: auto;
    margin-top: 2%;
    position:relative;
}

.toc_title {
    font-weight: 700;
    text-align: center;
}

#toc_container li, #toc_container ul, #toc_container ul li{
    list-style: outside none none !important;
}

.subprojlog p{
    width: 50%;
    font-size: 16px;
    margin: auto;
    padding: 10px;
    text-align: left;
    display: flex;
    justify-content: center;
} 

.projlog ul{
    font-size: 16px;
    display: grid;
    justify-content: center;
    margin: auto;
    padding: 10px;
    text-align: left;
}

.projheading{
    font-size: 60px;
    text-align: center;
    margin-bottom: 10px; 
}

.projsubheading{
    font-size: 40px;
    text-align: center;
    margin-bottom: 10px;
}

.SucCriTable{
    width: 50%;
    display: grid;
    margin: 0 auto;
    text-align: left;
}

td p{
    padding: 10px;
}

th, tr, td{
    border: 1px solid white;
    text-align: left;
}