
.projectbox {
    width:200px;
    height: 200px;
    border-radius: 5px;
    border: 1px solid var(--main-background);
    background-color: var(--main-color);
    text-align: center;
}

.projectbox a {
    text-decoration: none;
    color:white;
    font-size: 30px;
    transition: transform .2s;
}

.projectbox a:hover{
    color: aquamarine;
    transform:scale(1.05);
}

#toc_container {
    background: var(--main-color) none repeat scroll 0 0;
    border: 3px solid #3D3D3D;
    border-radius: 5px;
    display: table;
    font-size: 95%;
    margin-bottom: 1em;
    padding: 20px;
    width: auto;
    margin: auto;
    margin-top: 2%;
    position:relative;
}

.toc_title {
    font-weight: 700;
    text-align: center;
}

#toc_container li, #toc_container ul, #toc_container ul li{
    list-style: outside none none !important;
}

.subprojlog p{
    width: 50%;
    font-size: 16px;
    margin: auto;
    padding: 10px;
    text-align: left;
    display: flex;
    justify-content: center;
} 

.projlog ul{
    font-size: 16px;
    text-align: left;
}

.projheading{
    font-size: 60px;
    text-align: center;
    margin-bottom: 10px; 
}

.projsubheading{
    font-size: 40px;
    text-align: center;
    margin-bottom: 10px;
}

.SucCriTable{
    width: 50%;
    display: grid;
    margin: 0 auto;
    text-align: left;
}

.recTable{
    width: 70%;
    display: grid;
    margin: 0 auto;
    text-align: left;
}

.tableHeading{
    padding:10px;
    text-align: center;
    font-weight: bolder;
}

td p{
    padding: 10px;
}

th, tr, td{
    border: 1px solid white;
    text-align: left;
}

.ftgclass{
    width: 90%;
    height: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    cursor: pointer;
}

.ftgna{
    padding: 10px;
    text-align: center;
}

.logCell{
    padding: 10px;
}

.modal{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  cursor: pointer;
}