html{
    width: 100vw
}

:root{
    --main-color: #1C1C1C;
    --main-text-color: lightgrey;
    --main-background: #2D2D2D;
    --highlight: #a0d6b4;
}

@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap');

@font-face{
    font-family: "Varela Round";
    src: url("font/Varela_Round/VarelaRound-Regular.ttf");
}

@font-face{
    font-family: "Roboto";
    src: url("./font/Roboto/Roboto-light.ttf");
}


body{
    background-image: url('img/Webp.net-resizeimage.png');
    background-attachment: fixed;
    background-color: var(--main-background);
}

li {
    text-align: -webkit-match-parent;
}


.TITLE{
    font-family: sans-serif;
    font-size: 100px;
    text-align: center;
    color: white;
    margin-bottom: 10px;
}

.descr{
    font-family: sans-serif;
    color: white;
    font-size: large;
    text-align: center;
}

.topnav{
    overflow: hidden;
}

.topnav a{
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    font-family: sans-serif;
}

.topnav a:hover{
    color: rgb(170, 170, 170)
}

.topnav a.active {
    color: var(--highlight);
}

.shortdescr{
    color:white;
    font-family: sans-serif;
    font-size: 20px;
    margin: auto;
    padding: 10px;
    text-align: left;
    display: flex;
    justify-content: center;
}

.creationsh1{
    font-family: sans-serif;
    font-size: 17px;
    text-align: left;
    color:white;
    display: flex;
    justify-content: center;
    margin-top: 18%;
    margin-right: 20%;
}

.creationsh1 h1{
    display: flex;
    justify-content: center;
    margin: auto;
}

.creationsh1 p{
    display: flex;
    justify-content: center;
    margin: auto;
    position: relative;
    top: 30%;
    left: 12%;
}

.creationsh1 img{
    display: flex;
    justify-content: center;
    margin-top: 10%;
}