html{
    width: 100vw
}

:root{
    --main-color: #1C1C1C;
    --main-text-color: lightgrey;
    --main-background: #2D2D2D;
    --highlight: aquamarine;
}

@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap');

@font-face{
    font-family: "Varela Round";
    src: url("font/Varela_Round/VarelaRound-Regular.ttf");
}

@font-face{
    font-family: "Roboto";
    src: url("./font/Roboto/Roboto-light.ttf");
}


body{
    background-image: url('img/Webp.net-resizeimage.png');
    background-attachment: fixed;
    background-color: #000;
    color: white;
    font-family: sans-serif;
}

li {
    text-align: -webkit-match-parent;
}


.TITLE{
    font-size: 100px;
    text-align: center;
    margin-bottom: 10px;
}

.descr{
    color: white;
    font-size: large;
    text-align: center;
}

.topnav{
    overflow: hidden;
}

.topnav a{
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    transition: transform .2s;
}

.topnav a:hover{
    color: rgb(170, 170, 170);
    transform: scale(1.05);
}

.topnav a.active {
    color: var(--highlight);
}

.shortdescr{
    font-size: 20px;
    margin: auto;
    padding: 10px;
    text-align: left;
    display: flex;
    justify-content: center;
}

.creationsh1{
    font-size: 40px;
    margin: auto;
    padding-top: 100px;
    text-align: left;
    display: flex;
    justify-content: center;
}
.creationshp{
    width: 50%;
    font-size: 16px;
    margin: auto;
    padding: 10px;
    text-align: left;
    display: flex;
    justify-content: center;
}

.creationshimg{
    width: 50%;
    height: 50%;
    display: block;
    text-align: center;
    margin: 0 auto;
}

.fmaldlink {
    color:white;
    font-size: 30px;
    text-decoration: none;
    text-align: center;
    display: block;
    justify-content: center;
    position: relative;
    padding-top: 2%;
    transition: transform .2s;
}

.fmaldlink:hover{
    color:aquamarine;
    transform: scale(1.05);
}

.contacts{
   justify-content: center;
   text-align: center;
}

.contacts h1{
    font-size: 40px;
}

.contacts a{
    color:white;
    font-size: 20px;
    text-decoration: none;
    transition: transform .2s;
}

.contacts a:hover{
    color: aquamarine;
    transform: scale(1.05);
}

.layout {
  width: 90%;
  padding-top: 2%;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: center;
}

.projectbox {
    width:200px;
    height: 200px;
    border-radius: 5px;
    border: 1px solid var(--main-background);
    background-color: var(--main-color);
    text-align: center;
}

.projectbox a {
    text-decoration: none;
    color:white;
    font-size: 30px;
    transition: transform .2s;
}

.projectbox a:hover{
    color: aquamarine;
    transform:scale(1.05);
}